<template>
  <div :class="{ container: !fullWidth }">
    <div class="info-bar" :class="_mainClass">
      <div class="container">
        <div class="row">
          <slot name="content"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoBar",
  props: {
    color: {
      type: String,
      validator: function(value) {
        return (
          ["clean", "color", "dark", "light", "custom"].indexOf(value) !== -1
        );
      },
    },
    size: {
      default: "sm",
      validator: function(value) {
        return ["xs", "sm", "md", "lg", "xlg"].indexOf(value) !== -1;
      },
    },
    autoMargin: Boolean,
    fullWidth: Boolean,
  },
  computed: {
    _mainClass() {
      const classes = {
        "info-bar-bordered": this.autoMargin,
      };
      classes[`info-bar-${this.color}`] = true;
      classes[`info-bar-${this.size}`] = true;
      return classes;
    },
  },
};
</script>

<style scoped>
.info-bar {
  margin: 0;
  border: 0;
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}

.info-bar div.row > div > h3 {
  padding-top: 8px;
}

.info-bar.info-bar-color div.row > div {
  border-right-color: rgba(0, 0, 0, 0.1);
}

.info-bar.info-bar-clean {
  background-color: #fff;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}
.info-bar-light {
  background-color: #fff;
}
.info-bar-dark {
  background-color: #313131;
}

.info-bar-xs {
  padding: 0.5em 0;
}

.info-bar-sm {
  padding: 1em 0;
}

.info-bar-md {
  padding: 1.5em 0;
}

.info-bar-lg {
  padding: 2.2em 0;
}

.info-bar-xlg {
  padding: 3em 0;
}
</style>
