<template>
  <section
    :id="_id"
    :class="[customClass, sectionClass, color]"
    :style="[customStyle, sectionStyle]"
  >
    <div class="overlay" :class="_parallaxMask" v-if="parallaxImg"></div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      width="100%"
      height="100"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
      style="fill:#ffffff;padding:0;margin:0;display:block; z-index:2; position:relative;"
      v-if="parallaxRounded"
    >
      <path d="M0 0 C55 180 100 0 100 0 Z" />
    </svg>

    <div class="container">
      <slot name="content"></slot>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      width="100%"
      height="100"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
      style="fill:#ffffff;padding:0;margin:0;display:block; z-index:2; position:relative;"
      v-if="parallaxRounded"
    >
      <path d="M0 100 C40 0 60 0 100 100 Z" />
    </svg>
  </section>
</template>

<script>
export default {
  name: "SectionDefault",
  props: {
    id: {
      type: String,
    },
    size: {
      default: "sm",
      validator: function(value) {
        return ["xs", "sm", "lg", "xlg"].indexOf(value) !== -1;
      },
    },
    fullHeight: Boolean,
    parallaxImg: String,
    parallaxRounded: Boolean,
    parallaxMask: {
      default: 8,
      validator: function(value) {
        return [1, 2, 3, 4, 5, 6, 7, 8, 9].indexOf(value) !== -1;
      },
    },
    customClass: String,
    customStyle: Object,
    color: {
      validator: function(value) {
        return (
          ["alternate", "dark", "dark alternate", "custom"].indexOf(value) !==
          -1
        );
      },
    },
    navbarRegister: {
      type: Object,
    },
  },
  computed: {
    sectionClass() {
      let classes = {
        "full-height": this.fullHeight,
        parallax: this.parallaxImg,
        "parallax-2": this.parallaxImg,
        "p-0": this.parallaxRounded,
        "p-md": this.parallaxRounded,
        "mt-5": this.parallaxRounded,
      };
      classes[`section-${this.size}`] = true;
      return classes;
    },
    sectionStyle() {
      let classes = {};
      if (this.parallaxImg) {
        classes["background-image"] = `url(${this.parallaxImg})`;
      }
      return classes;
    },
    _parallaxMask() {
      return `dark-${this.parallaxMask}`;
    },
    _id() {
      return (
        this.id ||
        Math.random()
          .toString(36)
          .substr(2, 5)
      );
    },
  },
  created() {
    if (this.navbarRegister) {
      this.$store.dispatch(`${this.navbarRegister.store}/addToLinks`, {
        href: `#${this._id}`,
        text: this.navbarRegister.navbarText,
      });
    }
  },
};
</script>

<style scoped>
section {
  display: block;
  position: relative;
  padding: 100px 0;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  background-color: #fff;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  background-size: cover !important;
  box-sizing: border-box !important;
}

/* section size */
.full-height {
  min-height: 100vh;
}
section.section-xs {
  padding: 30px 0;
}
section.section-sm {
  padding: 60px 0;
}
section.padding-md {
  padding: 80px 0;
}
section.section-lg {
  padding: 120px 0;
}
section.section-xlg {
  padding: 140px 0;
}

/* section color */
section.alternate {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
section.dark {
  background-color: #212121 !important;
  border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
}
</style>
