<template>
  <header class="text-center" :class="titleMargin">
    <h2>{{ title }}</h2>
    <p class="lead font-lato" v-if="subtitle">{{ subtitle }}</p>
    <hr v-if="Borderbottom" />
  </header>
</template>

<script>
export default {
  name: "SectionTitle",
  props: {
    title: {
      required: true,
      type: String,
    },
    subtitle: String,
    Borderbottom: {
      default: true,
      type: Boolean,
    },
    margin: {
      default: "5",
      validator: function(value) {
        return ["1", "2", "3", "4", "5"].indexOf(value) !== -1;
      },
    },
  },
  computed: {
    titleMargin: function() {
      return `mb-${this.margin}`;
    },
  },
};
</script>

<style scoped>
h2 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #414141;
  position: relative;
  margin: 0 0 30px 0;
  line-height: 1.5;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0px;
}

.font-lato {
  font-family: "Lato", Arial, Helvetica, sans-serif !important;
  font-size: 1.25rem;
  font-weight: 300;
}

section.dark h2,
section.dark p {
  color: #fff;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(transparent),
    color-stop(rgba(0, 0, 0, 0.2)),
    to(transparent)
  );
  background-image: linear-gradient(to left, white, rgba(0, 0, 0, 0.2), white);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#d6d6d6',GradientType=0 );
}

section.dark hr {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.2)),
    to(transparent)
  );
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
}
</style>
