<template>
  <footer id="footer" :class="[_mainClass]">
    <div class="content" ref="content" :style="[_contentStyle, ]">
      <slot name="content"></slot>
    </div>
    <div class="copyright" :class="[_copyrightClass, ]" :style="[_copyrightStyle,]" ref="copyright">
      <div class="container">
        @ {{copyrightText}} {{siteName}}
        <ul class="float-right m-0 list-inline mobile-block">
          {{developedByText}}
          <a :href="enterpriseSite">{{enterpriseName}}</a>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
  props: {
    color: String,
    textColor: String,
    transparent: Boolean,
    fixed: Boolean,
    fixedSlideEffect: Boolean,
    siteName: String,
    enterpriseName: String,
    enterpriseSite: {
      type: String,
      default: "#",
    },
    copyrightText: {
      type: String,
      default: "Todos os direitos Reservados,",
    },
    developedByText: {
      type: String,
      default: "Desenvolvido por",
    },
    size: {
      default: "xs",
      validator: function (value) {
        return ["xs", "sm", "md", "lg", "xlg"].indexOf(value) !== -1;
      },
    },
  },
  data() {
    return {
      scrolledToBottom: false,
      pageSize: document.body.scrollHeight,
      copyrightSize: 0,
    };
  },
  methods: {
    onResize() {
      this.pageSize =
        document.body.scrollHeight - this.$refs.content.clientHeight - 30;
      this.copyrightSize = !this.$refs.copyright
        ? 0
        : this.$refs.copyright.clientHeight;
    },
    onScroll() {
      this.scrolledToBottom =
        window.top.scrollY + window.innerHeight >= this.pageSize;
    },
  },
  computed: {
    _mainClass() {
      const classe = {
        fixed: this.fixedSlideEffect
          ? this.fixed && !this.scrolledToBottom
          : this.fixed,
      };
      classe[`copyright-${this.size}`] = true;
      return classe;
    },
    _copyrightClass() {
      const classe = {
        transparent: this.transparent,
      };
      return classe;
    },
    _copyrightStyle() {
      const classe = {};
      if (!this.transparent) {
        classe["background"] = this.color || "#000668";
      }
      if (this.textColor) {
        classe["color"] = this.textColor || "#fff";
      }
      return classe;
    },
    _contentStyle() {
      return {
        "margin-bottom":
          this.fixed && !this.fixedSlideEffect ? `${this.copyrightSize}px` : 0,
      };
    },
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll);
    window.addEventListener("resize", this.onResize);
    this.onResize();
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
    window.removeEventListener("resize", this.onResize);
  },
};
</script>

<style scoped>
#footer {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  display: block;
  border-top: rgba(255, 255, 255, 0.5) 1px solid;
}

.transparent {
  background-color: transparent;
  color: black;
}

.fixed > .copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.copyright-xs > .copyright {
  padding: 0.5em 0;
}

.copyright-sm > .copyright {
  padding: 1em 0;
}

.copyright-md > .copyright {
  padding: 1.5em 0;
}

.copyright-lg > .copyright {
  padding: 2.2em 0;
}

.copyright-xlg > .copyright {
  padding: 3em 0;
}

@media only screen and (max-width: 480px) {
  #footer .mobile-block {
    padding-top: 15px;
    margin-bottom: 0px !important;
  }
}
</style>
