<template>
  <div class="price-table" :class="[columnsClass, { popular }]">
    <h3>{{ titleText }}</h3>
    <p>
      {{ currencyIcon }}{{ price }}
      <span>{{ intervalText }}</span>
    </p>

    <slot name="body"> </slot>
  </div>
</template>

<script>
import { columnsProps, columnsClass } from "pc-vue-basic/dist/gridColumns.js";

export default {
  name: "PriceTableCard",
  props: {
    price: {
      required: true,
      type: String,
    },
    popular: Boolean,

    titleText: {
      default: "Apartir de",
      type: String,
    },
    currencyIcon: {
      default: "R$",
      type: String,
    },
    intervalText: {
      default: "mês",
      type: String,
    },
    ...columnsProps(),
  },
  data() {
    return {
      scrolledToBottom: false,
      pageSize: document.body.scrollHeight,
      copyrightSize: 0,
    };
  },
  computed: {
    ...columnsClass(),
  },
};
</script>

<style scoped>
div.price-table {
  background: rgba(148, 149, 150, 0.05);
  margin: 30px 0;
  text-align: center;
  padding-bottom: 30px;
  border-left: #fff 1px solid;
}

div.price-table h3 {
  font-size: 25px;
  line-height: 25px;
  padding: 30px 0;
  border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
  text-transform: uppercase;
  font-weight: 300;
}

div.price-table p {
  color: #666;
  font-size: 36px;
  line-height: 36px;
  padding: 30px 0;
  font-weight: 400;
  width: 150px;
  height: 150px;
  padding-top: 53px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 0;
}

/* POPULAR CARD */
div.price-table.popular {
  background: #eee;
  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.065);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.065);
  color: #000;
  font-weight: 600;
}
</style>
