<template>
  <div :class="columnsClass" class="pricing-card">
    <div class="price-clean" v-bind:class="{ 'price-clean-popular': popular }">
      <div class="ribbon" v-if="popular">
        <div class="ribbon-inner">{{ popularText }}</div>
      </div>
      <h4>
        <div>{{ topText }}</div>
        <sup>{{ currencyIcon }}</sup>
        {{ price }}
        <em>/{{ intervalText }}</em>
      </h4>
      <h5>{{ title }}</h5>
      <hr />
      <slot name="content">
        <p v-html="text"></p>
      </slot>
    </div>
  </div>
</template>

<script>
import { columnsProps, columnsClass } from "pc-vue-basic/dist/gridColumns.js";

export default {
  name: "PricingCard",
  props: {
    price: {
      required: true,
      type: String,
    },
    title: {
      required: true,
      type: String,
    },
    popular: Boolean,
    text: String,

    topText: {
      default: "Apartir de",
      type: String,
    },
    currencyIcon: {
      default: "R$",
      type: String,
    },
    popularText: {
      default: "POPULAR",
      type: String,
    },
    intervalText: {
      default: "mês",
      type: String,
    },
    ...columnsProps(),
  },
  computed: {
    ...columnsClass(),
  },
};
</script>
<style scoped>
.price-clean h4 div {
  font-size: 14px;
}

.pricing-card {
  margin-bottom: 3em;
}

.price-clean {
  padding: 30px 10px;
  height: 100%;
  text-align: center;
  position: relative;
  border: 1px solid #eaeaea;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.065);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.065);
}
.price-clean h4 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  margin: 0;
  color: #547698;
}
.price-clean h4 sup {
  position: relative;
  font-size: 20px;
  line-height: 25px;
  vertical-align: top;
  top: 3px;
}
.price-clean h4 em {
  font-size: 14px;
  font-style: normal;
}
.price-clean h5 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  font-size: 15px;
  color: #bacdd6;
  letter-spacing: 2px;
}
.price-clean p {
  line-height: 1.5em;
  color: #526066;
  margin-bottom: 0;
}
.price-clean .btn {
  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.065);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.065);
}

/* Dark Support */
section.dark h4,
section.dark h5,
section.dark p {
  color: #fff;
}

section.dark hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  background-image: -moz-linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  background-image: -ms-linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  background-image: -o-linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}

/* Popular Ribbon Support */
.ribbon {
  width: 115px;
  height: 118px;
  overflow: hidden;
  position: absolute;
  right: -2px;
  top: -2px;
  z-index: 1;
}

.ribbon .ribbon-inner {
  width: 160px;
  left: -8px;
  top: 28px;
}
.ribbon-inner {
  background-color: #8ab933;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #1abc9c;
  letter-spacing: 4px;
  text-align: center;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  padding: 7px 0;
  width: 100px;
  color: #fff;
  z-index: 1;
  left: 3px;
  top: 6px;
}

@media only screen and (max-width: 992px) {
  .price-clean {
    margin-bottom: 30px;
  }
  .col-md-5th .price-clean h4 {
    font-size: 40px;
    line-height: 40px;
  }
  .col-md-5th .price-clean h4 em {
    font-size: 11px;
  }
}

@media only screen and (max-width: 768px) {
  .price-clean h4 {
    font-size: 60px;
    line-height: 60px;
  }
  .price-clean h4 em {
    font-size: 14px;
  }
}
</style>
